@model NewWebsite.Models.sa106bData

@{
    ViewBag.Title = "Create sa106b";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create Sa106b</h3>
    @using (Html.BeginForm()) {
		{
        <fieldset>
            <div class="row">
                    &nbsp;
            </div>
            <div class="panel panel-default">
				<div class="panel-heading"><b>Add Sa106b</b></div>
                <div class="panel-body">
					<table>
					
			<tr>
                <td><label for="gkey">Gkey:</label></td>
				<td>@Html.TextBox("gkey", Model.gkey, new { @id="lblgkey", @class = "form-control", @readonly = "readonly"}) </td>
            </tr>
			<tr>
                <td><label for="serialno">Serialno:</label></td>
				<td>@Html.TextBox("serialno", Model.serialno, new { @id="txtserialno", @class = "form-control"}) @Html.ValidationMessage("serialno", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="sa106gkey">Sa106gkey:</label></td>
				<td>@Html.TextBox("sa106gkey", Model.sa106gkey, new { @id="txtsa106gkey", @class = "form-control"}) @Html.ValidationMessage("sa106gkey", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="sa106agkey">Sa106agkey:</label></td>
				<td>@Html.TextBox("sa106agkey", Model.sa106agkey, new { @id="txtsa106agkey", @class = "form-control"}) @Html.ValidationMessage("sa106agkey", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="mr200gkey">Mr200gkey:</label></td>
				<td>@Html.TextBox("mr200gkey", Model.mr200gkey, new { @id="txtmr200gkey", @class = "form-control"}) @Html.ValidationMessage("mr200gkey", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="mr200agkey">Mr200agkey:</label></td>
				<td>@Html.TextBox("mr200agkey", Model.mr200agkey, new { @id="txtmr200agkey", @class = "form-control"}) @Html.ValidationMessage("mr200agkey", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="quantity">Quantity:</label></td>
				<td>@Html.TextBox("quantity", Model.quantity, new { @id="txtquantity", @class = "form-control"}) @Html.ValidationMessage("quantity", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="nodisprice">Nodisprice:</label></td>
				<td>@Html.TextBox("nodisprice", Model.nodisprice, new { @id="txtnodisprice", @class = "form-control"}) @Html.ValidationMessage("nodisprice", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="disprice">Disprice:</label></td>
				<td>@Html.TextBox("disprice", Model.disprice, new { @id="txtdisprice", @class = "form-control"}) @Html.ValidationMessage("disprice", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="cancelqty">Cancelqty:</label></td>
				<td>@Html.TextBox("cancelqty", Model.cancelqty, new { @id="txtcancelqty", @class = "form-control"}) @Html.ValidationMessage("cancelqty", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="cancelamt">Cancelamt:</label></td>
				<td>@Html.TextBox("cancelamt", Model.cancelamt, new { @id="txtcancelamt", @class = "form-control"}) @Html.ValidationMessage("cancelamt", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="outquantity">Outquantity:</label></td>
				<td>@Html.TextBox("outquantity", Model.outquantity, new { @id="txtoutquantity", @class = "form-control"}) @Html.ValidationMessage("outquantity", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="retquantity">Retquantity:</label></td>
				<td>@Html.TextBox("retquantity", Model.retquantity, new { @id="txtretquantity", @class = "form-control"}) @Html.ValidationMessage("retquantity", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="prepono">Prepono:</label></td>
				<td>@Html.TextBox("prepono", Model.prepono, new { @id="txtprepono", @class = "form-control"}) @Html.ValidationMessage("prepono", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="remark">Remark:</label></td>
				<td>@Html.TextArea("remark", Model.remark.ToString(), new { @id="txtremark", @class = "form-control", @rows=5, @cols=40})@Html.ValidationMessage("remark", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="replication_create">Replication Create:</label></td>
				<td>@Html.TextBox("replication_create", Model.replication_create, new { @id="txtreplication_create", @class = "form-control"}) @Html.ValidationMessage("replication_create", "", new { @class = "text-danger" }) </td>
            </tr>
			<tr>
                <td><label for="replication_update">Replication Up Date:</label></td>
				<td>@Html.TextBox("replication_update", Model.replication_update, new { @id="txtreplication_update", @class = "form-control"}) @Html.ValidationMessage("replication_update", "", new { @class = "text-danger" }) </td>
            </tr>
					</table>
				</div>
		        <div class="panel-footer">
					<div class="row">
						<div class="pull-right">
							<button type="submit" value="Create" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
							&nbsp;
							<a href="@Url.Action("Index", "sa106b")" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>
						</div>
					</div>
				</div>
			</div>
        </fieldset>
		}
    }
