@{
    ViewBag.Title = "sa106d Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Sa106d Details</h3>
@using (Html.BeginForm())
{
	{
    <fieldset>
        <div class="row">
                &nbsp;
        </div>
	<div class="panel panel-default">
		<div class="panel-heading"><b>Sa106d Details</b></div>
		<div class="panel-body">
				<dl class ="dl-horizontal">
				
				<dt>
					<label>Gkey:</label>
				</dt>
				<dd>
					@Html.Encode(Model.gkey)
				</dd>
			
				<dt>
					<label>Serialno:</label>
				</dt>
				<dd>
					@Html.Encode(Model.serialno)
				</dd>
			
				<dt>
					<label>Sa106gkey:</label>
				</dt>
				<dd>
					@Html.Encode(Model.sa106gkey)
				</dd>
			
				<dt>
					<label>Ba212gkey:</label>
				</dt>
				<dd>
					@Html.Encode(Model.ba212gkey)
				</dd>
			
				<dt>
					<label>Agument:</label>
				</dt>
				<dd>
					@Html.Encode(Model.agument)
				</dd>
			
				<dt>
					<label>Amount:</label>
				</dt>
				<dd>
					@Html.Encode(Model.amount)
				</dd>
			
				<dt>
					<label>Remark:</label>
				</dt>
				<dd>
					@Html.Encode(Model.remark)
				</dd>
			
				<dt>
					<label>Replication Create:</label>
				</dt>
				<dd>
					@Html.Encode(Model.replication_create)
				</dd>
			
				<dt>
					<label>Replication Up Date:</label>
				</dt>
				<dd>
					@Html.Encode(Model.replication_update)
				</dd>
			
				</dl>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="pull-left">
					<a id="btnDelete" class="btn btn-danger" onclick='DeleteItem("@Model.gkey","@Model.sa106gkey")'><span class="glyphicon glyphicon-remove"></span> Delete</a>
				</div>
				<div class="pull-right">
					<a href="@Url.Action("Edit", "sa106d", new { id=Model.gkey })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
					&nbsp;
					<a href="@Url.Action("Index", "sa106d")" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>
				</div>
			</div>
		</div>
	</div>
    </fieldset>
	}
}

<style type="text/css">
	span.k-link {
		padding: 6px !important;
	}
</style>

<!-- Confirm Model Dialog -->
<div id="deleteModal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="vertical-align: middle;height: 100%;margin-top:250px">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:whitesmoke;padding:9px 15px;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="deleteTitle" class="modal-title">Delete record?</h4>
			</div>
			<div class="modal-body">
				<p id="deleteMessage"></p>
			</div>
			<div class="modal-footer" style="background-color:whitesmoke;padding:9px 15px;">
				<a class="btn btn-default" id="YesDeleteBtn">Yes</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>

<!-- Script to Delete Record -->
<script type="text/javascript">
    function DeleteItem(id, name) {
        $("#deleteModal").modal('show');
        $("#deleteModal #YesDeleteBtn").attr("href", "/sa106d/Delete/" + id);
        $("#deleteMessage").text("Are you sure you want to delete this sa106d - " + name + " ?");
    }
</script>



@section Scripts
{
    <script src="~/Scripts/Kendoui/kendo.all.min.js"></script>
	<script src="~/Scripts/Kendoui/jszip.min.js"></script>
    @*<script type="text/javascript" src="http://demos.telerik.com/kendo-ui/content/shared/js/jszip.min.js"></script>*@


}

